body{
    background: linear-gradient(aqua,gold);
    background-attachment: fixed;
    background-repeat: no repeat;

}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    border-top-style:solid;
    border-bottom-style:solid;
    text-shadow: 0px 0px 5px gold,0px -5px 5px red;
}
p{
    font-family: sans-serif;
    border-style: groove;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
    font-style: italic;
    padding: 5px;



}